{% extends "base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<section class="wrapper style5">
    <div class="inner" style="text-align:center;">
        <p style="margin:0;">
                장바구니
        </p>
        <button style="float:right;" onclick="location.href='{% url 'removeAll' %}'">
            전체삭제
        </button>
        <section>
            
            <table class="alt">
                {% for item in cartList %}
                <tr class="productRow">
                    <td><img src="{{ item.product.thumbnail_img }}" width='100' height='100'></td>
                    <td>{{ item.product.name }}<br><span name="price">{{ item.product.price }}</span></td>
                    <td><input name="amount" type='number' value={{ item.amount }} min='1'><input type="hidden" value={{item.product.no}}></td>
                    <td><button onclick="location.href='{% url 'removeCartItem' itemId=item.product.no %}'">삭제</button></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan='4'>총 가격: <span id="total">{{total_price}}</span></td>
                </tr>
            </table>
        
        </section>
        <button onclick="location.href='{% url 'productList' category='한식' %}'">
            계속 쇼핑하기
        </button>
        <button id="payment">
            결제하기
        </button>
    </div>
    
</section>

<script type="text/javascript">
        $(function() {
            // 페이지 로드가 끝났을 때 추가하는 부분(대부분 이 안에 추가된다.)
            $("#payment").click(function(){
                var IMP = window.IMP; // 생략가능
                IMP.init('imp68217266');
                // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
                // i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
                IMP.request_pay({
                pg: 'inicis', // version 1.1.0부터 지원.
                /*
                'kakao':카카오페이,
                html5_inicis':이니시스(웹표준결제)
                'nice':나이스페이
                'jtnet':제이티넷
                'uplus':LG유플러스
                'danal':다날
                'payco':페이코
                'syrup':시럽페이
                'paypal':페이팔
                */
                pay_method: 'card',
                /*
                'samsung':삼성페이,
                'card':신용카드,
                'trans':실시간계좌이체,
                'vbank':가상계좌,
                'phone':휴대폰소액결제
                */
                merchant_uid: 'merchant_' + new Date().getTime(),
                /*
                merchant_uid에 경우
                https://docs.iamport.kr/implementation/payment
                위에 url에 따라가시면 넣을 수 있는 방법이 있습니다.
                참고하세요.
                나중에 포스팅 해볼게요.
                */
                name: '주문명:결제테스트',
                //결제창에서 보여질 이름
                amount: 1000,
                //가격
                buyer_email: 'iamport@siot.do',
                buyer_name: '구매자이름',
                buyer_tel: '010-1234-5678',
                buyer_addr: '서울특별시 강남구 삼성동',
                buyer_postcode: '123-456',
                m_redirect_url: "{% url 'index' %}"
                /*
                모바일 결제시,
                결제가 끝나고 랜딩되는 URL을 지정
                (카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐)
                */
                }, function (rsp) {
                console.log(rsp);
                if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
                } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                }
                alert(msg);
                });


            });
            
            $(':input').on('change', function() {
                if ($(this).val() < 0) {
                    alert('수량은 1개 이상이어야 합니다.');
                    return;
                }
                //alert($(this).next().val());
                var amount = $(this).val();
                var productNo = $(this).next().val();
                $.ajax({
                   url: "{% url 'changeAmount' %}",
                   method: "POST",
                   data: {amount: amount, pNo: productNo},
                   success: function(data) {
                       //alert("성공");
                       var totalPrice = 0;
                       $(".productRow").each(function(index, item){
                           //console.log($(this).find('span[name=price]').text());
                           //console.log($(this).find('input[name=amount]').val());
                           price = $(this).find('span[name=price]').text();
                           amt = $(this).find('input[name=amount]').val();
                           totalPrice += price * amt;
                       });
                       
                       
                       $('#total').text(totalPrice);
                   }
                });
            });
        });

       
    </script>



{% endblock content %}