{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="wrapper style5">
    <div class="inner">
        <section>
            <div class="box" style="border: 5px solid black;">
                <div class="row gtr-50 gtr-uniform">
                    
                    <div>
                        <img src="{{product.detail_img}}">
                    </div>
                    
                    
                        
                    
                </div>
                
            </div>
        </section>
    </div>
    
</section>
{% endblock content %}