{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="wrapper style5">
    <div class="inner">
        <section>
            <div class="box" style="border: 2px solid black;">
                <div class="row gtr-50 gtr-uniform">
                    
                    {% for product in products %}
                        <div class="col-4" style="padding:0; border:1px solid black;">
                            <span class="image fit" style="border: 1px solid red; margin:0">
                                <a href="{% url 'productDetail' no=product.no%}">
                                    <img src="{{ product.thumbnail_img }}" >
                                </a>
                            </span>
                            <p style="margin:0">{{ product.name}}</p>
                            <p>{{ product.price}}원</p>
                    </div>
                    {% endfor %}
                    
                    
                        
                    
                </div>
                
            </div>
        </section>
    </div>
    
</section>

{% endblock content %}