<!DOCTYPE html>
<html lang="en">
	<head>
		<title>리뷰게시판</title>
		<!-- header_setting -->
        {% include 'camper/common/header_setting.html' %}
	</head>
    
    <!-- header_menu -->
    {% include 'camper/common/header_menu.html' %}
    
    <body>
        <div style="height:50px;"></div>
        <table>
            <tr>
                <td colspan="2" style="text-align:center">제목</td>
                <td style="text-align:center">글쓴이</td>
                <td style="text-align:center">작성일</td>
            </tr>
            {% for info in reviewInfo %}
            <tr>
                <td style="text-align:center">{{ info.id }}</td>
                <td style="text-align:center">{{ info.subject }}</td>
                <td style="text-align:center">{{ info.created_id }}</td>
                <td style="text-align:center">{{ info.created_at }}</td>
            </tr>
            {% endfor %}

        </table>
    </body>
</html>