<!DOCTYPE html>
<html lang="en">
	<head>
		<title>리뷰게시판</title>
		<!-- header_setting -->
        {% include 'camper/common/header_setting.html' %}
	</head>
    
    <!-- header_menu -->
    {% include 'camper/common/header_menu.html' %}
    
    <body>
        <div style="height:50px;"></div>
        <table>
            <tr>
                <td colspan="2" style="text-align:center">제목</td>
                <td style="text-align:center">글쓴이</td>
                <td style="text-align:center">작성일</td>
            </tr>
            {% for info in reviewInfo %}
            <tr>
                <td style="text-align:center">{{ info.id }}</td>
                <td style="text-align:center">{{ info.subject }}</td>
                <td style="text-align:center">{{ info.created_id }}</td>
                <td style="text-align:center">{{ info.created_at }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <form action="" method="post">    
            <table>
                <tr align="center">
                    <td width="100px;"></td>
                    <td width="140px;">
                        <select  style="width:130px;" name="searchType">
                            <option value="">전체</option>
                            <option value="subject">제목</option>
                            <option value="contents">내용</option>
                            <option value="created_id">글쓴이</option>
                        </select>
                    </td>
                    <td width="140px;"><input type="text" size="10px" name="searchText"></td>
                    <td width="140px;"><input type="submit" value="검색"></td>
                    <td width="100px;"></td>
                </tr>
            </table>
        </form>
    </body>
</html>