{% extends "base.html" %}
{% load static %}
{% block content %}
        <div style="height:50px;"></div>
        <form action="../signUp/" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td style="colspan=2">ID : <input type="text" name = "id"></td>
                </tr>        
                <tr>
                    <td style="colspan=2">PW : <input type="password" name = "pw"></td>
                </tr>       
                <tr>
                    <td style="colspan=2">이름 : <input type="text" name = "name"></td>
                </tr>       
                <tr>
                    <td>
                        <input type="submit" value ="회원가입"><input type="button" onclick="location.href='../'" value="돌아가기">                </td>
                </tr>        
            </table>
        </form>
{% endblock content %}